body {
	font-family: 'Roboto', sans-serif;

}
.fusion_travel h1 {
	font-size: 72px;
	font-weight: 700;
}

.fusion_travel h3 {
	font-size: 20px;
	font-weight: 500;
}
.white, .white a {
  color: #fff;
}
.menu {
	font-size: 16px;
	font-weight: 400;
	min-height: 60px;
	height: 70px;
	width: 85vw;
	max-width: 1276px;
	text-align: left;
	border-bottom: 2px solid #aaaaaa;
/*	border: 2px solid black;*/

}
.menu a {
	color: #e2e2e2;
	text-decoration: none;
/*	border: 2px solid black;*/
	margin: 8px;

}
.hotline {
	color: #fff;
	width: 200px;

}
.container {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	color: white;
	/*height: 100vh;*/
	min-height: 100vh;
	width: 100%;
	background-color: #b5b5b5;

} 

.fusion_travel .item {
	margin: 6px;
	color: white;
	text-align: center;
}
.item.btn
{
	color: white;
	background-color: #ffa50a;
	width: 200px;
	height: 50px;
	vertical-align: middle;
	border: 0px solid ;
    border-radius: 25px;
	line-height: 0px;
	font-size: 0.7em;
	font-weight: 700;
	font-size: 16px;
}
#videoPic {
	min-height: 50px;
	height: 60px;
	width: 140px;
	align-self: flex-start;
	padding-left: 10%;
	position: relative;
	bottom: 5%;
}

#videoGlyph {
	height: 60px;
	width: 58px;
}
#watch {
	padding-top: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #e2e2e2;
}
#introVideo {
	font-size: 18px;
	font-weight: 700;
}
body {
	color: #383838;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#latestNews {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #e0e0e0; 
	width: 70vw;
	align-self: center;
	/*min-height: 100vh;*/

}


.heading {
	padding-bottom: 30px;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
	text-align: center;
}
.heading .item {
	margin-bottom: 3px;
}
.heading h2 {
	font-weight: 400;
	font-size: 50px;
}
.heading h3 {
	font-weight: 400;
	font-size: 20px;
}
.blogContent {
	/*width: 70vw;*/
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	flex: 1 0 auto;
	justify-content: center;
	/*margin: 30px;*/
	margin-bottom: 35px;
	
}
.column {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/*margin: 15px;*/

}
.row {
	margin: 20px;
	box-shadow: 0 0 80px #fffcf7;
	display: flex;
}
#bigImage {
	/*width: 100%;*/
	/*height: 275px;*/

	width: 554px;
	height: 455px;
}
.smallImage {
	width: 286px;
    height: 207px;
    box-shadow: 0 0 80px #fffcf7;
}
#apatinisPic {
	margin: 20px;
	box-shadow: 0 0 80px #fffcf7;
}
.article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: white;
	margin: 20px;
	/*flex: 1 0 auto;*/
	box-shadow: 0 0 80px #fffcf7;
}
.article2 {
	display: flex;
	flex-direction: column;
	/*height: 300px;*/
	margin: 20px;
	background-color: white;
	box-shadow: 0 0 80px #fffcf7;
}
.article .smallImage {
	margin-left: auto;
	margin-top: auto;
}
.articleContent {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 270px;
}
.article2 .articleContent {
	height: 250px;
}
.articleHeader {
	font-weight: 400;
	font-size: 20px;
	text-align: left;
	/*margin-bottom: 3px;*/
	/*padding-left: 8px;*/
	/*padding-left: 10px;*/
	color: rgb(80,78,75);
	margin: 20px;
	margin-left: 30px;
	margin-right: 30px;
}
.articleText {
	font-size: 16px;
	font-weight: 400;
	/*padding-left: 8px;*/
	color: rgb(129,129,129);
	margin-left: 30px;
	margin-right: 15px;
	margin-bottom: 20px;
}
.article2 .articleHeader {
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 40px;
}
.article2 .articleText {
	margin-left: 40px;
	margin-right: : 30px;
}
#blogButton {
	margin-bottom: 45px;
}

#footer2 {
	display: flex;
	flex-direction: column;
	color: #383838;
	align-items: center;
	justify-content: center;
}
#Apie {
/*	border: 2px solid black;
*/	max-width: 1276px;
	width: 85vw;
	display: flex;
	/*flex-direction: row;*/
	height: 150px;
	/*justify-content: flex-start;*/
	border-bottom: 2px solid #e0e0e0; 
	padding-top: 20px;
	padding-bottom: 20px;
	/*margin-bottom: 40px;*/
}
#Apie .item {
/*	border: 1px solid black;
*/	width: 25%;
	/*margin-right: 150px;*/
}
#Apie h4 {
	font-weight: 500;
	font-size: 20px;
}
#Apie .item p {
/*	border: 1px solid black;*/
	margin: 0;
	margin-bottom: 1px;
	font-weight: 400;
	font-size: 16px;
	color: rgb(129,129,129);
}
/*Flexinimas*/
.menu 
{
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	align-items: center;

}
.hotline  {
	justify-content: flex-end;
	text-align: right;
	margin-left: auto;

	}
.fusion_travel {
	min-height: 150px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	flex: 1 0 auto;
	justify-content: center;
	align-items: center;
	-webkit-justify-content: center;
}
#homeButton {
	margin-left: 0;
}
#videoPic {
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
}
#copyright {
	margin: 30px;
	font-weight: 400
	font-size: 15px;
	color: rgb(129,129,129);
}